<cart-drawer
    class="portal portal--drawer"
    id="cart-drawer"
    data-type="drawer"
    data-animation="slide-in-right"
    style="--dialog-max-width:52rem"
  >
    <dialog class="portal-dialog">
      <div class=" w-full h-full flex">
        <div class="portal-overlay"></div>
		  {% unless template contains 'cart' -%}
		  <div class="hidden cart-drawer-related-products animation fade-in lg:flex items-center justify-center"  
			   data-animation="fade-in"
			   id="PortalClose-cart-related-drawer">
			    <related-products class="cart-releated-products w-full fade-in" >
		  	<ega-carousel>
				 <script data-type="swiper-params" type="application/json">
				{
				  "spaceBetween": 8,
				  "slidesPerView": 3,
				  "centerInsufficientSlides": true,
				   "breakpoints": {
					"768": {
					  "slidesPerView": 1
					},
					"1024": {
					  "slidesPerView": 2
					},
					"1200": {
					  "slidesPerView": 3
					}
				  }
				}
			  </script>
				
			  	<div class="swiper lg:pb-[var(--spacing-10)]">
						<h2 class="text-h4 text-center mb-5 font-semibold text-white">
							{{ settings.cart_collection_title }}
					</h2>
					<div class="swiper-wrapper product-list">
					</div>
					 <div class="swiper-button-prev md:flex hidden" onclick="event.stopPropagation()"></div>
              <div class="swiper-button-next  md:flex hidden"onclick="event.stopPropagation()"></div>
				</div>
			  
			  </ega-carousel>
		  </related-products>
		  </div>
		
		  {% endunless -%}
        <div class="portal-inner w-full ml-auto bg-background animation  h-full">
         
          <cart-form class="h-full">
            <form class="cart-form h-full" action="/cart" method="post">
              <div class="cart grid grid-rows-[auto_1fr_auto]">
				   <div class="portal-header pt-4 px-4 flex justify-between items-center border-b pb-3 border-neutral-50 px-4">
					<p class="text-h6 md:text-h4">Giỏ hàng</p>
					<button
					  type="button"
					  id="PortalClose-cart-crawer"
					  class="w-[3.2rem] h-[3.2rem] rounded-full border border-neutral-50 text-neutral-200 flex items-center justify-center active:scale-95 transition-transform hover:bg-neutral-50"
					>
					  <i class="icon icon-cross"> </i>
					</button>
				  </div>
                <div class="cart-left p-4 overflow-y-auto flex flex-col">
				{%if settings.rewards_enabled -%}
					<rewards-bar >
					</rewards-bar>
				{% endif -%}
                  <div class="cart-table"></div>
					<div class="lg:hidden w-full mt-auto">
					<related-products class="cart-releated-products" data-query="{{query_string | strip }}" data-product-type="row">
						<div class=" mb-2">
								<h2 class="text-base font-semibold">
										{{ settings.cart_collection_title }}
								</h2>
							</div>
						<ega-carousel>
							<div class="swiper">
								<div class="swiper-wrapper product-list ">

								</div>
							</div>
						</ega-carousel>

					</related-products>

				</div>
                </div>
                <div class="cart-right p-4">
					
				 <div class="cart-summary"></div> 
				 </div>
				 <div class="cart-empty"></div>
              </div>
            </form>

          </cart-form>
        </div>
      </div>
    </dialog>
  </cart-drawer>

<portal-component class="portal portal--drawer" id="cart-note-drawer" data-type="drawer" data-animation="slide-in-right"
	style="--dialog-max-width:52rem">
	<dialog class="portal-dialog">
		<div class=" w-full h-full flex">
			<div class="portal-overlay"></div>
			<div class="portal-inner w-full ml-auto bg-background   h-screen px-4 animation">
				<div class="portal-header px-3 pb-3 pt-5 ">
					<div class="font-semibold text-h4 flex items-center gap-2">
						<i class="icon icon-arrow-left  cursor-pointer text-h6 md:text-h4" id="PortalClose-cart-note-drawer"></i>Ghi chú đơn hàng
					</div>
				</div>
				<div class="r-bill px-3">
					<cart-note>
						<form>
							<div class="form-group">
								<label class="label block mb-2">Ghi chú</label>
								<textarea class="form-textarea" name="note" rows="6">{{ cart.note }}</textarea>
							</div>
							<button type="submit"
								class="btn w-full mt-5  btn--large font-semibold  bg-primary text-white inline-flex  justify-center items-center gap-2">
								Lưu thông tin
							</button>
						</form>
					</cart-note>
				</div>
			</div>
		</div>
	</dialog>
</portal-component>
{% include 'cart-vat-drawer' %} 
<portal-component class="portal portal--drawer" id="cart-delivery-drawer" data-type="drawer" data-animation="slide-in-right"
	style="--dialog-max-width:52rem">
	<dialog class="portal-dialog">
		<div class=" w-full h-full flex">
			<div class="portal-overlay"></div>
			<div class="portal-inner w-full ml-auto bg-background   h-screen px-4 animation">
				<div class="portal-header px-3 pb-3 pt-5 ">
					<div class="font-semibold text-h6 md:text-h4 flex items-center gap-2">
						<i class="icon icon-arrow-left text-h4 cursor-pointer" id="PortalClose-cart-delivery-drawer"></i>{{settings.delivery_heading}}
					</div>
				</div>
				<div class="r-bill px-3">
					<cart-delivery>
						<form>
							{% include 'delivery-form' -%}
							<button type="submit"
								class="btn w-full mt-5  btn--large font-semibold  bg-primary text-white inline-flex  justify-center items-center gap-2">
								Lưu thông tin
							</button>
						</form>
					</cart-delivery>
				</div>
			</div>
		</div>
	</dialog>
</portal-component>