<coupon-item>
<div class="coupon-item bg-background px-6 py-4 rounded-sm relative ">
    <div class="flex justify-between items-center mb-1.5">
      <div class="coupon-item__code font-semibold text-secondary "><span class="swiper-no-swiping">
		  {{ title }}
		  </span> </div>
      <div class="coupon-item__end-date text-sm">
		 {% if date != blank %}
		<span class="text-neutral-300" data-expired-date="{{date}}-{{time}}">HSD: {{ date }} </span>
		 {% endif %}
      </div>
    </div>
    <div class="coupon-item__summary mb-2.5 ">{{ desc }}</div>
	    <div class="coupon-item__rules mb-2.5 hidden ">{{ info | newline_to_br}}</div>
    <div class="coupon-item__action grid grid-cols-2 gap-3 border-t  pt-2.5 border-dashed border-neutral-50">
      <button  data-portal="#coupon-modal" class="btn  border border-primary text-primary hover:bg-primary hover:text-white py-1.5 ">Điều kiện</button>
		 <copy-button data-copied-text="Đã sao chép"  >
                <input type="hidden" value="{{ code }}" />
                <button type="button" class="btn copy-button w-full  text-white border border-primary bg-primary  py-1.5 ">
  					Sao chép
      			</button>
        </copy-button>
     
    </div>
  </div>
</coupon-item>