{% include 'product-item-logic' %}
<card-product class="h-full card-product"
  data-prefetch="{{ product.url }}"
  data-title="{{ product.title }}"
  data-cpu="{{ product.metafields.custom.cpu }}"
  data-ram="{{ product.metafields.custom.ram }}"
  data-ssd="{{ product.metafields.custom.ssd }}"
  data-vga="{{ product.metafields.custom.vga }}"
  data-screen="{{ product.metafields.custom.screen }}"
>
<div
  class=" item_product_main card-product card-product--vertical relative transition-transform duration-200 ease-in-out rounded-sm h-full 
	{{ custom_class }}"
>
  <form
    action="/cart/add"
    method="post"
    data-id="product-actions-{{ product.id }}"
    enctype="multipart/form-data"
    class="bg-background relative z-10 m-0  rounded-sm h-full"
  >
    <div class="card-product__top relative rounded-tr-sm rounded-tl-sm overflow-hidden group/card">
      <a class="link aspect-square flex items-center justify-center w-full"
         href="{{ product.url }}"
         title="{{ product.title }}">

        <div class="card-product__badges absolute top-2 left-2 z-10 flex items-center gap-2">
          {% include 'product-tag-promo', promo_index: 1 %}
          {% if boolVideo %}
            <span class="text-neutral-50">
              <i class="icon icon-play"></i>
            </span>
          {% endif %}
        </div>
        {% include 'product-frame' %}
        <picture>
          <source media="(max-width: 600px)" srcset="{{ product.featured_image.src | img_url:'medium' }}">
          <img
            class="card-product__image max-h-full w-auto aspect-square object-contain scale-[var(--image-scale)] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition duration-300 ease-out {% if hover_image %} group-hover/card:opacity-0 {% endif %}"
            width="480"
            height="480"
            decoding="async"
            loading="lazy"
            style="--image-scale:{{image_scale | default: 1}}"
            src="{{ product.featured_image.src | img_url:'large' }}"
            alt="{{ product.title }}">
        </picture>

        {% assign image_size = product.images | size %}
        {% if image_size > 1 and settings.hover_change_image_enabled %}
        <picture>
          <source media="(max-width: 600px)" srcset="{{ product.images[1].src | img_url:'medium' }}">
          <img
            class="card-product__image-2 max-h-full w-auto aspect-square object-contain opacity-0 scale-[var(--image-scale)] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[0] group-hover/card:opacity-1 group-hover/card:z-[1] transition duration-300 ease-out"
            width="480"
            height="480"
            decoding="async"
            loading="lazy"
            style="--image-scale:{{image_scale | default: 1}}"
            src="{{ product.images[1].src | img_url:'large' }}"
            alt="{{ product.title }}">
        </picture>
        {% endif %}

        {% if sold_out %}
        <div class="badge badge--soldout lg:px-[var(--spacing-10)] lg:py-4 px-4 py-2 absolute font-semibold whitespace-nowrap top-1/2 left-1/2 z-10 -translate-x-1/2 -translate-y-1/2 backdrop-blur-sm">
          Hết hàng
        </div>
        {% endif %}
      </a>

      <div class="card-product__utilites absolute top-2 right-2 z-10 hidden lg:flex flex-col items-center gap-2 transition duration-300 ease-out">
        {% if settings.quickview_enabled %}
        <portal-opener>
          <button aria-label="Xem nhanh" type="button" data-product="{{product.url}}" data-portal="#quick-view-product" class="quick-view border bg-background rounded-full flex items-center justify-center relative active:scale-95 transition-transform">
            <i class="icon icon-eye"></i>
          </button>
        </portal-opener>
        {% endif %}
        {% if settings.compare_product_enabled %}
        <compare-button>
          <button aria-label="So sánh" type="button" data-product="{{product.id}}" data-product-type="{{product.type | handleize}}" data-portal="#quick-view-compare" class="add-compare border bg-background rounded-full flex items-center justify-center active:scale-95 transition-transform">
            <i class="icon icon-arrow-swap"></i>
          </button>
        </compare-button>
        {% endif %}
      </div>
    </div>

    <a class="link" href="{{ product.url }}" title="{{ product.title }}">
      <div class="card-product__body flex flex-col gap-2 px-2 py-2 md:gap-2 md:px-5 md:py-4">
        <div class="card-product__title text-base font-semibold line-clamp-2">
          {{ product.title }}
        </div>
        {% include 'product-reviews' %}
        {% include 'product-price' %}
        {% include 'swatch-items' %}
        {% include 'product-tag-promo', promo_index: 2 %}
        {% include 'product-tag-promo', promo_index: 3 %}
        {% if is_flashsale %}
        {% include 'stock-countdown' %}
        {% endif %}
      </div>
    </a>

    {% if settings.add_cart_enabled %}
    {% unless sold_out or contact_item %}
    <div class="card-product__bottom w-full px-2 md:px-5 left-0 lg:block hidden">
      {% include 'product-cta' %}
    </div>
    {% endunless %}
    {% endif %}
  </form>
</div>
</card-product>
