{% include 'section-styles', key: 'banner_group' %}

<section class="section section-banner-group" style="{{ section_style }}">
    <div class="container">
        <ega-carousel>
            <script data-type="swiper-params" type="application/json">
                    {
                      "speed": 1000,
                      "spaceBetween": 8,
                      "slidesPerView": 1,
					  "centerInsufficientSlides": true,
                      "pagination": {
                        "el": ".section-banner-group .swiper-pagination",
                        "clickable": true
                      },
                      "breakpoints": {
                        "768": {
                          "slidesPerView": 2.5
                        },
                    
                        "1200": {
                          "slidesPerView": 3
                        }
                      }
                    }
            </script>
                <div class="swiper">
                    {% assign banner_count = 0 -%}
					  {% for i in (1..3) %}
						{% capture banner_enabled %}banner_group_{{i}}_enabled{% endcapture %}
							{% if settings[banner_enabled] %}
								{% assign banner_count = banner_count | plus:1 -%}
							{%endif%}
						{% endfor %}
                        <div class="swiper-wrapper max-w-max grid flex-cols-custom md:grid-cols-{{banner_count}} gap-gutter h-auto">
                            {% for i in (1..3) %}
								{% capture banner_enabled %}banner_group_{{i}}_enabled{% endcapture %}
								{% capture banner_title %}banner_group_{{i}}_title{% endcapture %}
								{% capture banner_text %}banner_group_{{i}}_text{% endcapture %}
								{% capture banner_link %}banner_group_{{i}}_link{% endcapture %}
								{% capture banner_image %}banner_group_{{i}}.jpg{% endcapture %}
								{% capture banner_color %}banner_group_{{i}}_color{% endcapture %}
								{% capture banner_background %}banner_group_{{i}}_background{% endcapture %}
								{% if settings[banner_enabled] %}
                                <div class="swiper-slide">
                                   <div class="card-banner card-banner--style-1 relative text-[var(--color-banner)] group" style="--color-banner-bg: {{ settings[banner_background] }}; --color-banner: {{ settings[banner_color] }}">
										<div class="card-banner__image relative pt-4  px-4 pb-[var(--spacing-7)] z-0 lg:px-[var(--spacing-8)] lg:pb-[var(--spacing-10)] ">
										  <a href="{{ settings[banner_link] }}" title="{{ settings[banner_title] }}" class="block   shadow-l ">
										<picture>
											   <source media="(max-width: 480px)" srcset="{{ banner_image | asset_url | img_url: "large" -}}">
									     
											  <img src="{{ banner_image | asset_url }}"  alt="{{ banner_image }}" loading="lazy" width="408" height="232" class="object-cover  rounded-lg transition-transform duration-300 group-hover:scale-105 ">
										 </picture>
											</a>
										</div>
										<div class="card-banner__body relative z-0 px-4 pb-5 lg:px-[var(--spacing-8)] lg:pb-[var(--spacing-9)]">
										  <a href="{{ settings[banner_link] }}" title="{{ settings[banner_title] }}" class="flex items-center justify-between">
											<div>
											  <h3 class="text-h6 lg:text-h5 font-semibold">{{ settings[banner_title] }}</h3>
											  <p>{{ settings[banner_text] }}</p>
											</div>
											<span class="btn w-[4.8rem] h-[4.8rem] text-h6 flex items-center justify-center bg-[rgba(255,255,255,0.2)] rounded-full hover:scale-105 transition-transform ">
											  <i class="icon icon-carret-right"> </i>
											</span>
										  </a>
										</div>
									</div>
                                </div>
								{% endif %}
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination static mt-2"></div>
                </div>
        </ega-carousel>
    </div>
</section>