{% include 'breadcrumb' %}
{% unless settings.flashsale_tabs_banner_type == 'none' %}
  <section class="section section-collection-banner">

    {% if settings.flashsale_banner_type == 'settings_banner' -%}
      {% assign collection_image = 'flashsale_tabs_banner.png' -%}
      {% assign collection_link = settings.flashsale_tabs_banner_link -%}
      {% assign collection_alt = settings.flashsale_tabs_banner_alt  %}
    {% endif -%}

    {% if collection_image != blank %}
      <div class="collection_banner mb-4 md:mb-6  container text-center">
        <a
          class="banner"
          href="{{collection_link}}"
          title="{{ collection_main_banner_alt | default: collection.title }}"
        >
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="{{ collection_image | asset_url -}}"
              data-srcset="{{ collection_image | asset_url -}}"
            >
            <source
              media="(max-width: 767px)"
              srcset="{{ collection_image | asset_url  | img_url: 'large'  -}}"
              data-srcset="{{ collection_image | asset_url | img_url: 'large'  -}}"
            >
            <img
              class="object-contain mx-auto"
              src="{{ collection_image | asset_url -}}"
              width="{{settings.flashsale_tabs_banner_width}}"
              height="{{settings.flashsale_tabs_banner_height}}"
              alt="{{ collection_main_banner_alt | default: collection_alt -}}"
            >
          </picture>
        </a>
      </div>
    {% endif %}
  </section>
{% endunless %}
{% if settings.flashsale_tabs_coupons_enabled %}
  {% include 'section-coupons' %}
{% endif %}
{% include 'section-flashsale-tabs', is_landing_page: true -%}

{% include 'section-recent-products' %}
 
